body{font-family:Georgia, 'Times New Roman', Times, serif }
div{background-color: rgba(249,243,229,0.6);}
.toppage{background-color: #000000;color: #ffffff;text-align: center;margin:0px;opacity:0.5;}
a {text-decoration: none;}
nav {text-align: center;}