#wrapper {margin: 0 auto; width: 80%; min-width: 960px; max-width: 1200px;}
header {background-image: url("../images/chicago.png"); background-size:100%; background-repeat:no-repeat;}
body {Margin: 0px;}
.top {font-size: 100px; border-bottom-style: double; font-family:serif ; font-style: italic; margin:1px; text-shadow: 2px 2px 3px #ffffff;}
nav ul {list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: #333}
nav li {float: left; border-right: 1px solid #bbb;}
nav li a {display: block;color: white; text-align: center; padding: 14px 16px; text-decoration: none; font-size: 19px;}
nav li a:hover:not(.active) {background-color: #111;}
.active {background-color: #bf1600;}
.pghead {font-size: 80px; border-bottom-style: double; font-family:serif; margin:0px; text-shadow: 0 0 3px #FF0000; text-align: center;}
.habout {font-size: 25px; font-family:serif; margin-top:20px; margin-bottom: 0px; width: 86%; background-color: #333; color: white; min-width: 40%;}
p {font-family: sans-serif; margin-top: 0px;}
.mapouter{position:relative; text-align:center; height:325px;width:375px;}
.gmap_canvas {overflow:hidden;background:none!important;height:325px;width:375px;}
.flex-container {display: flex;}
.flex-container > div {background-color: #ffffff; width: 400px; margin-bottom: 0px; padding-left: 5px; font-size: 20px;}
.divider {border-left: 3px double; margin:0px; padding:0px; flex: 0 0 5px; height: auto;}