.top {font-size: 100px; border-bottom-style: double; font-family:serif ; font-style: italic; margin:1px; text-shadow: 2px 2px 3px #ffffff;}
ul {list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: #333}
li {float: left; border-right: 1px solid #bbb;}
li a {display: block;color: white; text-align: center; padding: 14px 16px; text-decoration: none; font-size: 20px}
li a:hover:not(.active) {background-color: #111;}
.active {background-color: #bf1600;}
.pgheader {font-size: 80px; border-bottom-style: double; font-family:serif; margin:0px; text-shadow: 0 0 3px #FF0000; text-align: center;}
h3 {font-size: 40px; font-family:serif; text-decoration: underline; margin-top:20px; margin-bottom: 0px;}
img {float:left; padding: 10px; margin: 30px;}
p {font-family: sans-serif; margin-top: 0px;}